<form class="login-form" [formGroup]="validationsForm">
    <div>
        <mat-form-field class="login-width">
            <input matInput placeholder="Email" class="form-control" formControlName="usernameControl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="validationsForm.controls['usernameControl'].hasError('email') &&
                          !validationsForm.controls['usernameControl'].hasError('required')">
                Please enter a valid email address
            </mat-error>

            <mat-error *ngIf="validationsForm.controls['usernameControl'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="login-width">
            <input matInput type="password" placeholder="Password" class="form-control" formControlName="passwordControl" [errorStateMatcher]="matcher">

            <mat-error *ngIf="validationsForm.controls['passwordControl'].hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="button-row" align="center">
        <button mat-stroked-button [disabled]="validationsForm.invalid" (click)="login_btnClick()">Enter</button>
    </div>
    <div class="user-incorrect" align="center" hidden={{userInvalid}}>
        Authentication failed!
    </div>
</form>
